body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.gameboard {
    background-color: rgb(194, 194, 194);
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
}

.cell {
    text-align: center;
    box-sizing: border-box;
    border: solid black;
}